<form class="register_form" action="">
    <p><label>Name</label><input class="register_input" type="text" name="name" id=""></p>
    <p><label>Login</label><input class="register_input" type="text" name="login" id=""></p>
    <p><label>Email</label><input class="register_input" type="text" name="email" id=""></p>
    <p><label>Password</label><input class="register_input" type="password" name="password" id=""></p>
    <p><label>Confirm password</label><input class="register_input" type="password" name="password_confirm" id=""></p>
    <input class="register_input" type="submit" value="Register">
</form>